section {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.tasks {
    width: 500px;
}

.add-task input, .add-task button{
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
    margin-bottom: 2ex;
    margin-left: 2px;
    margin-right: 2px;
}

.add-task button {
    margin-left: 1px;
    background-color: white;
    width: 85px;   
}

.add-task input {
    width: 400px;  
}

.task-item {
    border: 2px solid black;
    margin-top: 0.5em;
    padding-top: 5px; 
    padding-bottom: 5px; 
    vertical-align: middle;   
}

.task-item button {
    background-color: white;
    border: 0px;
    font-size: 18px;
    float: right;
    margin-top: 7px;   
}

table {
    width: 500px;
}

.complete{
    text-decoration: line-through;
}

