<section>
  <h1>LISTA DE TAREAS DE BELÉN</h1>
  <article class="tasks">
    <div class="add-task">
      <input>
      <button>ADD</button>
    </div>
      <form>
        <div class="task-item">      
          <input type="checkbox"> Task
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
        <div class="task-item">      
          <input type="checkbox"> Task N-2
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
        <div class="task-item">      
          <input type="checkbox"> <del> Completed Task N-2</del>
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
        <div class="task-item">      
          <input type="checkbox"> Task k
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
        <div class="task-item">      
          <input type="checkbox"> Task 2
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
        <div class="task-item">      
          <input type="checkbox"> <del> Completed Task 1</del>
          <button><i class="fa-regular fa-trash-can"></i></button>
        </div>
      </form>
  </article>
</section>