ul {
    max-width: 60rem;
    width: 90vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.complete {
    text-decoration: line-through;
}

hr {
    
    height: 2px;
    background-color: black;
    opacity: 0.2;
}