form {
    input, button {
        padding-top: 10px;
        padding-bottom: 10px;
        border-width: 2px;
        margin-bottom: 2ex;
        margin-right: 2px;
    }    
    input {
        width: 400px;
    }
    button {
        margin-left: 1px;
        background-color: white;
        width: 85px;    
    }
}